# Find appropriate coordinates for every timezone

In [1]:
import pandas as pd

## Get timezones

In [2]:
import pytz

def generate_timezones():
    for timezone in pytz.common_timezones:
        split = timezone.replace("_", " ").split("/")
        match len(split):
            case 1: continue
            case 2: region, subregion, place = split[0], None,     split[1]
            case 3: region, subregion, place = split[0], split[1], split[2]
            case _: raise ValueError(f"Unexpected timezone format: {timezone}")
        if region == "US" or region == "Canada":
            continue
        yield timezone, region, subregion, place

df_timezones = pd.DataFrame(
    list(generate_timezones()),
    columns=['timezone', 'region', 'subregion', 'place']
).set_index('timezone')

df_timezones

                     region subregion        place
timezone
Africa/Abidjan       Africa      None      Abidjan
Africa/Accra         Africa      None        Accra
Africa/Addis_Ababa   Africa      None  Addis Ababa
Africa/Algiers       Africa      None      Algiers
Africa/Asmara        Africa      None       Asmara
...                     ...       ...          ...
Pacific/Tahiti      Pacific      None       Tahiti
Pacific/Tarawa      Pacific      None       Tarawa
Pacific/Tongatapu   Pacific      None    Tongatapu
Pacific/Wake        Pacific      None         Wake
Pacific/Wallis      Pacific      None       Wallis

[417 rows x 3 columns]

## Get a city-coordinates database from `libtimezonemap`

In [3]:
df = pd.read_csv(
    '/usr/share/libtimezonemap/ui/cities15000.txt',
    delimiter='\t',
    header=None,
    usecols=[2, 4, 5, 17],
    names=['city', 'latitude', 'longitude', 'timezone'],
    quotechar='_'  # allow all other weird characters
).set_index('city')

df.index = df.index.map(lambda x: x.replace("'", " "))

df_cities = df

df_cities

                  latitude  longitude        timezone
city
les Escaldes      42.50729    1.53414  Europe/Andorra
Andorra la Vella  42.50779    1.52109  Europe/Andorra
Umm al Qaywayn    25.56473   55.55517      Asia/Dubai
Ras al-Khaimah    25.78953   55.94320      Asia/Dubai
Khawr Fakkan      25.33132   56.34199      Asia/Dubai
...                    ...        ...             ...
Bulawayo         -20.15000   28.58333   Africa/Harare
Bindura          -17.30192   31.33056   Africa/Harare
Beitbridge       -22.21667   30.00000   Africa/Harare
Epworth          -17.89000   31.14750   Africa/Harare
Chitungwiza      -18.01274   31.07555   Africa/Harare

[23461 rows x 3 columns]

## Find timezones coordinates in the database

### Solve some by finding unique timezones in the database

In [4]:
df_results = df_cities.drop_duplicates(subset=['timezone'], keep=False).set_index('timezone')

df_timezones = df_timezones[~df_timezones.index.isin(df_results.index)]  # remove found timezones

df_results

                                latitude  longitude
timezone
America/Antigua                 17.11717  -61.84573
America/Anguilla                18.21704  -63.05783
America/Argentina/Ushuaia      -54.80000  -68.30000
Pacific/Pago_Pago              -14.27806 -170.70250
Australia/Broken_Hill          -31.96173  141.45998
...                                  ...        ...
America/North_Dakota/New_Salem  46.82666 -100.88958
Europe/Vatican                  41.90236   12.45332
Pacific/Efate                  -17.73381  168.32188
Pacific/Wallis                 -13.28163 -176.17453
Pacific/Apia                   -13.83333 -171.76666

[68 rows x 2 columns]

In [5]:
for timezone_row in df_timezones.itertuples():
    timezone = timezone_row.Index
    found = False
    for city in df_cities.itertuples():
        city_name = city.Index
        if timezone_row.place == city_name:
            if timezone == city.timezone:
                found = True
                df_timezones = df_timezones.drop(timezone)
                df_results.loc[timezone] = [city.latitude, city.longitude]
                break
            print(f"((Hint) {timezone}: found city {city_name} but its timezone was {city.timezone})")

    if not found:
        print(f"{timezone} not matched to any city")

Africa/El_Aaiun not matched to any city
Africa/Ndjamena not matched to any city
((Hint) Africa/Tripoli: found city Tripoli but its timezone was Europe/Athens)
((Hint) Africa/Tripoli: found city Tripoli but its timezone was Asia/Beirut)
America/Adak not matched to any city
America/Argentina/Catamarca not matched to any city
America/Argentina/Jujuy not matched to any city
America/Argentina/Tucuman not matched to any city
America/Aruba not matched to any city
America/Atikokan not matched to any city
America/Bahia not matched to any city
America/Bahia_Banderas not matched to any city
((Hint) America/Belem: found city Belem but its timezone was America/Fortaleza)
America/Belize not matched to any city
America/Blanc-Sablon not matched to any city
America/Cambridge_Bay not matched to any city
((Hint) America/Cayenne: found city Cayenne but its timezone was Europe/Paris)
((Hint) America/Ciudad_Juarez: found city Ciudad Juarez but its timezone was America/Ojinaga)
America/Ciudad_Juarez not matched to any city
America/Costa_Rica not matched to any city
America/Creston not matched to any city
America/Danmarkshavn not matched to any city
America/Dawson not matched to any city
America/El_Salvador not matched to any city
America/Fort_Nelson not matched to any city
America/Goose_Bay not matched to any city
America/Guadeloupe not matched to any city
America/Guatemala not matched to any city
America/Guyana not matched to any city
America/Indiana/Knox not matched to any city
America/Indiana/Marengo not matched to any city
((Hint) America/Indiana/Petersburg: found city Petersburg but its timezone was America/New_York)
America/Indiana/Petersburg not matched to any city
America/Indiana/Tell_City not matched to any city
America/Indiana/Vevay not matched to any city
((Hint) America/Indiana/Vincennes: found city Vincennes but its timezone was Europe/Paris)
America/Indiana/Winamac not matched to any city
America/Inuvik not matched to any city
America/Iqaluit not matched to any city
((Hint) America/Jamaica: found city Jamaica but its timezone was America/New_York)
America/Jamaica not matched to any city
America/Kentucky/Monticello not matched to any city
((Hint) America/La_Paz: found city La Paz but its timezone was America/Argentina/Cordoba)
((Hint) America/Los_Angeles: found city Los Angeles but its timezone was America/Santiago)
America/Martinique not matched to any city
((Hint) America/Matamoros: found city Matamoros but its timezone was America/Monterrey)
America/Matamoros not matched to any city
((Hint) America/Merida: found city Merida but its timezone was Europe/Madrid)
America/Metlakatla not matched to any city
America/Montserrat not matched to any city
America/New_York not matched to any city
America/Nome not matched to any city
America/Noronha not matched to any city
America/North_Dakota/Beulah not matched to any city
America/North_Dakota/Center not matched to any city
((Hint) America/Nuuk: found city Nuuk but its timezone was America/Godthab)
America/Nuuk not matched to any city
America/Port_of_Spain not matched to any city
((Hint) America/Puerto_Rico: found city Puerto Rico but its timezone was America/Argentina/Cordoba)
America/Puerto_Rico not matched to any city
((Hint) America/Punta_Arenas: found city Punta Arenas but its timezone was America/Santiago)
America/Punta_Arenas not matched to any city
America/Rankin_Inlet not matched to any city
America/Resolute not matched to any city
((Hint) America/Santiago: found city Santiago but its timezone was America/Sao_Paulo)
((Hint) America/Santo_Domingo: found city Santo Domingo but its timezone was America/Havana)
America/Scoresbysund not matched to any city
America/Sitka not matched to any city
America/St_Johns not matched to any city
America/St_Thomas not matched to any city
America/St_Vincent not matched to any city
America/Swift_Current not matched to any city
America/Thule not matched to any city
America/Yakutat not matched to any city
Antarctica/Casey not matched to any city
((Hint) Antarctica/Davis: found city Davis but its timezone was America/Los_Angeles)
Antarctica/Davis not matched to any city
Antarctica/DumontDUrville not matched to any city
Antarctica/Macquarie not matched to any city
Antarctica/Mawson not matched to any city
Antarctica/McMurdo not matched to any city
((Hint) Antarctica/Palmer: found city Palmer but its timezone was America/New_York)
Antarctica/Palmer not matched to any city
Antarctica/Rothera not matched to any city
Antarctica/Syowa not matched to any city
Antarctica/Troll not matched to any city
Antarctica/Vostok not matched to any city
Asia/Anadyr not matched to any city
Asia/Aqtau not matched to any city
((Hint) Asia/Atyrau: found city Atyrau but its timezone was Asia/Oral)
Asia/Atyrau not matched to any city
Asia/Bahrain not matched to any city
((Hint) Asia/Barnaul: found city Barnaul but its timezone was Asia/Omsk)
Asia/Barnaul not matched to any city
((Hint) Asia/Chita: found city Chita but its timezone was Asia/Yakutsk)
Asia/Chita not matched to any city
((Hint) Asia/Colombo: found city Colombo but its timezone was America/Sao_Paulo)
((Hint) Asia/Famagusta: found city Famagusta but its timezone was Asia/Nicosia)
Asia/Famagusta not matched to any city
Asia/Ho_Chi_Minh not matched to any city
((Hint) Asia/Hovd: found city Hovd but its timezone was Asia/Ulaanbaatar)
Asia/Hovd not matched to any city
Asia/Kamchatka not matched to any city
Asia/Khandyga not matched to any city
Asia/Kuwait not matched to any city
Asia/Qatar not matched to any city
Asia/Qostanay not matched to any city
Asia/Qyzylorda not matched to any city
Asia/Sakhalin not matched to any city
Asia/Samarkand not matched to any city
Asia/Srednekolymsk not matched to any city
((Hint) Asia/Tomsk: found city Tomsk but its timezone was Asia/Novosibirsk)
Asia/Tomsk not matched to any city
Asia/Urumqi not matched to any city
Asia/Ust-Nera not matched to any city
((Hint) Asia/Yangon: found city Yangon but its timezone was Asia/Rangoon)
Asia/Yangon not matched to any city
Atlantic/Canary not matched to any city
Atlantic/Cape_Verde not matched to any city
Atlantic/Madeira not matched to any city
Australia/Eucla not matched to any city
Australia/Lindeman not matched to any city
Australia/Lord_Howe not matched to any city
Europe/Andorra not matched to any city
Europe/Astrakhan not matched to any city
Europe/Busingen not matched to any city
((Hint) Europe/Kirov: found city Kirov but its timezone was Europe/Volgograd)
((Hint) Europe/Kirov: found city Kirov but its timezone was Europe/Moscow)
Europe/Kirov not matched to any city
Europe/Kyiv not matched to any city
((Hint) Europe/London: found city London but its timezone was America/Toronto)
((Hint) Europe/Madrid: found city Madrid but its timezone was America/Bogota)
Europe/Malta not matched to any city
((Hint) Europe/Saratov: found city Saratov but its timezone was Europe/Volgograd)
Europe/Saratov not matched to any city
Europe/Tirane not matched to any city
((Hint) Europe/Ulyanovsk: found city Ulyanovsk but its timezone was Europe/Moscow)
Europe/Ulyanovsk not matched to any city
Indian/Chagos not matched to any city
Indian/Comoro not matched to any city
Indian/Mauritius not matched to any city
Indian/Mayotte not matched to any city
Indian/Reunion not matched to any city
((Hint) Pacific/Chatham: found city Chatham but its timezone was Europe/London)
Pacific/Chatham not matched to any city
Pacific/Chuuk not matched to any city
Pacific/Easter not matched to any city
Pacific/Fakaofo not matched to any city
Pacific/Fiji not matched to any city
Pacific/Galapagos not matched to any city
Pacific/Gambier not matched to any city
Pacific/Guam not matched to any city
Pacific/Kanton not matched to any city
Pacific/Kiritimati not matched to any city
Pacific/Kosrae not matched to any city
Pacific/Kwajalein not matched to any city
Pacific/Marquesas not matched to any city
Pacific/Midway not matched to any city
Pacific/Nauru not matched to any city
Pacific/Tahiti not matched to any city
Pacific/Wake not matched to any city

### Remaining timezones to match

In [6]:
df_timezones

                              region  subregion      place
timezone
Africa/El_Aaiun               Africa       None   El Aaiun
Africa/Ndjamena               Africa       None   Ndjamena
America/Adak                 America       None       Adak
America/Argentina/Catamarca  America  Argentina  Catamarca
America/Argentina/Jujuy      America  Argentina      Jujuy
...                              ...        ...        ...
Pacific/Marquesas            Pacific       None  Marquesas
Pacific/Midway               Pacific       None     Midway
Pacific/Nauru                Pacific       None      Nauru
Pacific/Tahiti               Pacific       None     Tahiti
Pacific/Wake                 Pacific       None       Wake

[127 rows x 3 columns]

### Matched timezones

In [7]:
df_results

                           latitude  longitude
timezone
America/Antigua            17.11717  -61.84573
America/Anguilla           18.21704  -63.05783
America/Argentina/Ushuaia -54.80000  -68.30000
Pacific/Pago_Pago         -14.27806 -170.70250
Australia/Broken_Hill     -31.96173  141.45998
...                             ...        ...
Pacific/Auckland          -36.86667  174.76667
Pacific/Honolulu           21.30694 -157.85833
Pacific/Majuro              7.08971  171.38027
Pacific/Noumea            -22.27631  166.45720
Pacific/Port_Moresby       -9.44314  147.17972

[293 rows x 2 columns]

## Search remaining timezones online

In [8]:
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="Cinnamon Desktop Applet Auto-night-light, manual single shot")

for timezone_row in df_timezones.itertuples():
    timezone = timezone_row.Index
    subregion = timezone_row.subregion
    geocode = geolocator.geocode(f"{timezone_row.place}{f", {subregion}" if subregion else ""}")
    if not geocode:
        print(f"No coordinates found for {timezone}")
        continue
    print(f"{timezone} matched to {geocode.address}")
    df_timezones = df_timezones.drop(timezone)
    df_results.loc[timezone] = [round(geocode.latitude, 5), round(geocode.longitude, 5)]

Africa/El_Aaiun matched to Laâyoune العيون, Pachalik de Laâyoune باشوية العيون, Province de Laâyoune إقليم العيون, Maroc ⵍⵎⵖⵔⵉⴱ المغرب
Africa/Ndjamena matched to N'Djaména انجمينا, Tchad تشاد
America/Adak matched to Adak, Aleutians West Census Area, Alaska, 99546, United States
America/Argentina/Catamarca matched to Catamarca, Argentina
America/Argentina/Jujuy matched to Jujuy, Argentina
America/Argentina/Tucuman matched to Tucumán, Argentina
America/Aruba matched to Aruba, Nederland
America/Atikokan matched to Atikokan, Rainy River District, Northwestern Ontario, Ontario, Canada
America/Bahia matched to Bahia, Região Nordeste, Brasil
America/Bahia_Banderas matched to Bahía Banderas, Bahías de Jaltenco, Alborada Jaltenco, Jaltenco, 55783, México
America/Belize matched to Belize
America/Blanc-Sablon matched to Blanc-Sablon, Le Golfe-du-Saint-Laurent, Côte-Nord, Québec, Canada
America/Cambridge_Bay matched to Iqaluktuuttiaq (Cambridge Bay), ᕿᑎᕐᒥᐅᑦ Kitikmeot Region, ᓄᓇᕗᑦ Nunavut, X0B 0C0, Canada
America/Ciudad_Juarez matched to Ciudad Juárez, Juárez, Chihuahua, 32001, México
America/Costa_Rica matched to Costa Rica
America/Creston matched to Creston, Union County, Iowa, 50801, United States
America/Danmarkshavn matched to Danmarkshavn, Kalaallit Nunaat
America/Dawson matched to Dawson County, Texas, United States
America/El_Salvador matched to El Salvador
America/Fort_Nelson matched to Fort Nelson, Northern Rockies Regional Municipality, British Columbia, V0C 1R0, Canada
America/Goose_Bay matched to Goose Bay, Happy Valley-Goose Bay, Labrador, Newfoundland and Labrador, Canada
America/Guadeloupe matched to Guadeloupe, France
America/Guatemala matched to Guatemala
America/Guyana matched to Guyana
America/Indiana/Knox matched to Knox County, Indiana, United States
America/Indiana/Marengo matched to Marengo, Crawford County, Indiana, United States
America/Indiana/Petersburg matched to Petersburg, Pike County, Indiana, United States
America/Indiana/Tell_City matched to Tell City, Perry County, Indiana, United States
America/Indiana/Vevay matched to Vevay, Switzerland County, Indiana, United States
America/Indiana/Winamac matched to Winamac, Pulaski County, Indiana, United States
America/Inuvik matched to Inuvik, Gwich'in Settlement Area, Northwest Territories, Canada
America/Iqaluit matched to Iqaluit ᐃᖃᓗᐃᑦ, ᐃᖃᓗᐃᑦ, ᕿᑭᖅᑖᓗᒃ Qikiqtaaluk Region, ᓄᓇᕗᑦ Nunavut, Canada
America/Jamaica matched to Jamaica
America/Kentucky/Monticello matched to Monticello, Wayne County, Kentucky, 42633, United States
America/Martinique matched to Martinique, France
America/Matamoros matched to Matamoros, Tamaulipas, 87300, México
America/Metlakatla matched to Metlakatla, Unorganized Borough, Alaska, 99926, United States
America/Montserrat matched to Montserrat
America/New_York matched to City of New York, New York, United States
America/Nome matched to Nome, Unorganized Borough, Alaska, United States
America/Noronha matched to Olímpio Noronha, Região Geográfica Imediata de São Lourenço, Região Geográfica Intermediária de Pouso Alegre, Minas Gerais, Região Sudeste, Brasil
America/North_Dakota/Beulah matched to Beulah, Mercer County, North Dakota, United States
America/North_Dakota/Center matched to Center, Oliver County, North Dakota, United States
America/Nuuk matched to Nuuk, Sermersooq, 3900, Kalaallit Nunaat
America/Port_of_Spain matched to Port of Spain, Trinidad and Tobago
America/Puerto_Rico matched to Puerto Rico, United States
America/Punta_Arenas matched to Punta Arenas, Provincia de Magallanes, Región de Magallanes y de la Antártica Chilena, Chile
America/Rankin_Inlet matched to ᑲᖏᕿᓂᖅ Rankin Inlet, ᑭᕙᓪᓕᖅ Kivalliq Region, ᓄᓇᕗᑦ Nunavut, Canada
America/Resolute matched to Resolute, ᕿᑭᖅᑖᓗᒃ Qikiqtaaluk Region, ᓄᓇᕗᑦ Nunavut, X0A 0V0, Canada
America/Scoresbysund matched to Ittoqqortoormiit, Sermersooq, 3980, Kalaallit Nunaat
America/Sitka matched to Sitka, Alaska, 99835, United States
America/St_Johns matched to St. John's, Saint John, Antigua, Antigua and Barbuda
America/St_Thomas matched to Saint Thomas, Charlotte Amalie, Saint Thomas - Saint John District, United States Virgin Islands, United States
America/St_Vincent matched to St. Vincent, Kittson County, Minnesota, 56755, United States
America/Swift_Current matched to Swift Current, Division No. 8, Saskatchewan, Canada
America/Thule matched to Thule, Qacha's Nek District, Lesotho
America/Yakutat matched to Yakutat, Alaska, United States
Antarctica/Casey matched to Casey County, Kentucky, United States
Antarctica/Davis matched to Davis County, Iowa, United States
No coordinates found for Antarctica/DumontDUrville
Antarctica/Macquarie matched to Macquarie Island, Huon Valley, Tasmania, Australia
Antarctica/Mawson matched to Mawson, District of Woden Valley, Australian Capital Territory, 2607, Australia
Antarctica/McMurdo matched to McMurdo, Area A (Kicking Horse/Kinbasket Lake), Columbia-Shuswap Regional District, British Columbia, V0A 1H7, Canada
Antarctica/Palmer matched to Palmer, Matanuska-Susitna, Alaska, 99645, United States
Antarctica/Rothera matched to Rothera Research Station
Antarctica/Syowa matched to 昭和基地
Antarctica/Troll matched to Troll, Flyplassveien, Troll
Antarctica/Vostok matched to Vostok
Asia/Anadyr matched to Анадырь, городской округ Анадырь, Чукотский автономный округ, Дальневосточный федеральный округ, 689000, Россия
Asia/Aqtau matched to Ақтау Қ.Ә., Маңғыстау облысы, Қазақстан
Asia/Atyrau matched to Атырау облысы, Қазақстан
Asia/Bahrain matched to البحرين
Asia/Barnaul matched to Барнаул, городской округ Барнаул, Алтайский край, Сибирский федеральный округ, 656000, Россия
Asia/Chita matched to Чита, городской округ Чита, Забайкальский край, Дальневосточный федеральный округ, 672000, Россия
Asia/Famagusta matched to Gazimağusa, Gazimağusa Belediyesi, Gazimağusa ilçesi, Kuzey Kıbrıs, Κύπρος - Kıbrıs
Asia/Ho_Chi_Minh matched to Ho Chi Minh, Muralla Street, Barangay 654, Intramuros, Fifth District, Manila, Capital District, Metro Manila, 1002, Pilipinas
Asia/Hovd matched to Ховд ᠬᠣᠪᠳᠤ, Монгол улс ᠮᠤᠩᠭᠤᠯ ᠤᠯᠤᠰ
Asia/Kamchatka matched to Камчатский край, Дальневосточный федеральный округ, Россия
Asia/Khandyga matched to Хандыга, городское поселение Хандыга, Томпонский улус, Республика Саха (Якутия), Дальневосточный федеральный округ, 678720, Россия
Asia/Kuwait matched to مدينة الكويت, إدارة النظافة العامة وإشغالات الطرق, العاصمة, 15005, الكويت
Asia/Qatar matched to قطر
Asia/Qostanay matched to Қостанай облысы, Қазақстан
Asia/Qyzylorda matched to Қызылорда облысы, Қазақстан
Asia/Sakhalin matched to Сахалин, Дальневосточный федеральный округ, Россия
Asia/Samarkand matched to Samarqand shahri, Samarqand Viloyati, 140000, Oʻzbekiston
Asia/Srednekolymsk matched to Среднеколымск, городское поселение Среднеколымск, Среднеколымский улус, Республика Саха (Якутия), Дальневосточный федеральный округ, Россия
Asia/Tomsk matched to Томская область, Сибирский федеральный округ, Россия
Asia/Urumqi matched to 乌鲁木齐县, 乌鲁木齐市 ئۈرۈمچى, 新疆维吾尔自治区 شىنجاڭ ئۇيغۇر ئاپتونوم رايونی, 830000, 中国
Asia/Ust-Nera matched to Усть-Нера, городское поселение Усть-Нера, Оймяконский улус, Республика Саха (Якутия), Дальневосточный федеральный округ, 678730, Россия
Asia/Yangon matched to Yangon, ရန်ကုန်တိုင်းဒေသကြီး, မြန်မာ
Atlantic/Canary matched to Canary, Madison County, Texas, United States
Atlantic/Cape_Verde matched to Cabo Verde
Atlantic/Madeira matched to Madeira, Portugal
Australia/Eucla matched to Eucla, Shire Of Dundas, Western Australia, Australia
Australia/Lindeman matched to Lindeman, Uusikaupunki, Vakka-Suomen seutukunta, Varsinais-Suomi, Lounais-Suomen aluehallintovirasto, Manner-Suomi, Suomi / Finland
Australia/Lord_Howe matched to Lord Howe Island, New South Wales, 2898, Australia
Europe/Andorra matched to Andorra
Europe/Astrakhan matched to Астрахань, городской округ Астрахань, Астраханская область, Южный федеральный округ, 414000, Россия
Europe/Busingen matched to Büsingen am Hochrhein, Verwaltungsgemeinschaft Gottmadingen, Landkreis Konstanz, Baden-Württemberg, 78266, Deutschland
Europe/Kirov matched to Киров, городской округ Киров, Кировская область, Приволжский федеральный округ, 610000, Россия
Europe/Kyiv matched to Київ, Україна
Europe/Malta matched to Malta
Europe/Saratov matched to Саратов, городской округ Саратов, Саратовская область, Приволжский федеральный округ, 410000, Россия
Europe/Tirane matched to Tiranë, Bashkia Tiranë, Qarku i Tiranës, Shqipëria Qendrore, 1001-1028, Shqipëria
Europe/Ulyanovsk matched to Ульяновск, городской округ Ульяновск, Ульяновская область, Приволжский федеральный округ, Россия
Indian/Chagos matched to Chagos, La Vilieḷḷa, Ḷḷarón, Cangas del Narcea, 33811, España
Indian/Comoro matched to Comoro, Asmat, Papua Selatan, Western New Guinea, Indonesia
Indian/Mauritius matched to Mauritius / Maurice
Indian/Mayotte matched to Mayotte, France
Indian/Reunion matched to La Réunion, France
Pacific/Chatham matched to Chatham County, North Carolina, United States
Pacific/Chuuk matched to Chuuk, Micronesia
Pacific/Easter matched to Easter, Castro County, Texas, United States
Pacific/Fakaofo matched to Fakaofo, Tokelau
Pacific/Fiji matched to Viti
Pacific/Galapagos matched to Galápagos, Ecuador
Pacific/Gambier matched to Gambier, College Township, Knox County, Ohio, United States
Pacific/Guam matched to Guam, United States
Pacific/Kanton matched to Kanton, Phoenix Islands, Kiribati
Pacific/Kiritimati matched to Kiritimati, Line Islands, Kiribati
Pacific/Kosrae matched to Kosrae, Utwe, Kosrae, 96944, Micronesia
Pacific/Kwajalein matched to Kuwajleen, Rālik, Ṃajeḷ
Pacific/Marquesas matched to Îles Marquises, Polynésie Française, France
Pacific/Midway matched to Midway, Madison County, Texas, United States
Pacific/Nauru matched to Naoero
Pacific/Tahiti matched to Tahiti, Îles du Vent, Polynésie Française, France
Pacific/Wake matched to Wake County, North Carolina, United States

### Remaining timezones to match

In [9]:
df_timezones

                               region subregion           place
timezone
Antarctica/DumontDUrville  Antarctica      None  DumontDUrville

### Matched timezones

In [10]:
df_results

                           latitude  longitude
timezone
America/Antigua            17.11717  -61.84573
America/Anguilla           18.21704  -63.05783
America/Argentina/Ushuaia -54.80000  -68.30000
Pacific/Pago_Pago         -14.27806 -170.70250
Australia/Broken_Hill     -31.96173  141.45998
...                             ...        ...
Pacific/Marquesas          -9.77941 -139.00678
Pacific/Midway             31.02602  -95.75050
Pacific/Nauru              -0.52523  166.93244
Pacific/Tahiti            -17.68734 -149.44517
Pacific/Wake               35.79794  -78.61183

[419 rows x 2 columns]

## Check and rectify the results manually

Check procedure:
- check if the `timezone` name makes sense with the address found,
- if not:
  - search on a web search engine if the full `timezone` gives similar results to the address found by Nomatim,
  - if not: find better or more values for a new search

In [11]:
timezones_to_search_again = {
    'America/Creston': {'city': "Creston", 'country': "Canada"},
    'America/Dawson': {'city': "Dawson", 'country': "Canada"},
    'America/St_Johns': "Saint Johns Island, Canada",
    'America/St_Vincent': "Saint Vincent and the Grenadines",
    'America/Thule': {'city': "Thule", 'country': "Greenland"},
    'Antarctica/Casey': "Casey Station",
    'Antarctica/Davis': "Davis Station",
    'Antarctica/DumontDUrville': "Dumont d'Urville Station",
    'Antarctica/Mawson': "Mawson Station",
    'Antarctica/McMurdo': "McMurdo Station",
    'Asia/Ho_Chi_Minh': {'city': "Ho Chi Minh", 'country': "Vietnam"},
    'Atlantic/Canary': "Canary Islands, Spain",
    'Australia/Lindeman': "Lindeman Island, Australia",
    'Indian/Chagos': "Chagos Archipelago",
    'Indian/Comoro': "Comoro Islands",
    'Pacific/Chatham': "Chatham, New Zealand",
    'Pacific/Easter': "Easter Island, Chile",
    'Pacific/Galapagos': "Galapagos Islands",
    'Pacific/Gambier': "Gambier Islands",
    'Pacific/Midway': "Midway Atoll",
    'Pacific/Wake': "Minor Outlying Islands"
}

for timezone, search in timezones_to_search_again.items():
    geocode = geolocator.geocode(search)
    if not geocode:
        print(f"No coordinates found for {timezone}")
        continue
    print(f"{timezone} matched to {geocode.address}")
    df_results.loc[timezone] = [round(geocode.latitude, 5), round(geocode.longitude, 5)]

America/Creston matched to Creston, Regional District of Central Kootenay, British Columbia, Canada
America/Dawson matched to Dawson City, Yukon, Y0B 1G0, Canada
America/St_Johns matched to Saint Johns Island, Labrador, Newfoundland and Labrador, Canada
America/St_Vincent matched to Saint Vincent and the Grenadines
America/Thule matched to Qaanaaq, Avannaata, 3971, Kalaallit Nunaat
Antarctica/Casey matched to Casey Station, Shirley Island Walking Route, Casey Station
Antarctica/Davis matched to Davis Station
Antarctica/DumontDUrville matched to Base Dumont d'Urville
Antarctica/Mawson matched to Mawson Station, Alternate Route, Mawson Station
Antarctica/McMurdo matched to McMurdo Station
Asia/Ho_Chi_Minh matched to Thành phố Hồ Chí Minh, Việt Nam
Atlantic/Canary matched to Canary Islands, España
Australia/Lindeman matched to Lindeman Island, Coral Sea, Mackay Regional, Queensland, Australia
Indian/Chagos matched to Chagos Archipelago, Downtown, British Indian Ocean Territory
Indian/Comoro matched to Archipel des Comores, Nzwani أنجوان, Comores Komori جزر القمر
Pacific/Chatham matched to Chatham Island, Chatham Islands, New Zealand / Aotearoa
Pacific/Easter matched to Isla de Pascua, Provincia de Isla de Pascua, Región de Valparaíso, 2770000, Chile
Pacific/Galapagos matched to Archipélago de Galápagos, Galápagos, Ecuador
Pacific/Gambier matched to Îles Gambier, Gambier, Tuamotu-Gambier, Polynésie Française, 98755, France
Pacific/Midway matched to Midway Atoll, United States
Pacific/Wake matched to United States Minor Outlying Islands, United States

In [12]:
df_results

                           latitude  longitude
timezone
America/Antigua            17.11717  -61.84573
America/Anguilla           18.21704  -63.05783
America/Argentina/Ushuaia -54.80000  -68.30000
Pacific/Pago_Pago         -14.27806 -170.70250
Australia/Broken_Hill     -31.96173  141.45998
...                             ...        ...
Pacific/Midway             28.24175 -177.37543
Pacific/Nauru              -0.52523  166.93244
Pacific/Tahiti            -17.68734 -149.44517
Pacific/Wake               16.72882 -169.53338
Antarctica/DumontDUrville -66.66328  140.00110

[420 rows x 2 columns]

## Export results

In [13]:
import json

dict_results = df_results[['latitude', 'longitude']].T.to_dict('list')

json_results = json.dumps(dict_results, sort_keys=True)

with open('database.json', 'w') as f:
    f.write(json_results)